body{
	font-size: 16px;
	color: #fff;
	background-color: #eee;
	font-family: 'Kaushan Script', cursive;
}
#header-nav{
	background-color: #fff;
	border-radius: 0;
	border:0;
}
#logo-img{
	background: url('logo.png') no-repeat;
	width:150px;
	height:150px;
}
